# Database Connection (Neon PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_WvMumbJ92QLN@ep-round-water-avkdmnal.c-11.us-east-1.aws.neon.tech/neondb?sslmode=require

# Cloudinary Credentials (Image Storage)
CLOUDINARY_CLOUD_NAME=fw0u13we
CLOUDINARY_API_KEY=196481657251278
CLOUDINARY_API_SECRET=IpQkUhj7T6uIHk6Lb1H_n2meiJU

# Resend API Key (Email Verification)
RESEND_API_KEY=

# Server Environment
PORT=3000
NODE_ENV=production
